/* ✅ 

#index, #footer {
    background-color: #f1f1f1;
    border: 1px solid grey;
  }
  
  #index > p:first-child {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin-left: 20px;
  }
  
  ul {
    list-style: none;
  }
  
  ol li {
    transition: 0.2s ease all;
  }
  
  ol li:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s ease all;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li::before {
    content: "✅";
  } */

/* imaging */
/* div {
    background: bottom (position)/ 100% (size) url("photo.jpg");
    is the same as;
    background-position: bottom;
    background-size: 100%;
    background-image: url("photo.jpg");

} */
/* .parent {
    position: relative;
}

.child {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%); 
    note: (X, Y)
    will center the child class to the parent.
} */

/* .parent {
    display: flex;
}
.child {
    flex: 1 0 100px;

}
is the same as
.child {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
} */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

* {
  margin: 0;
}

body {
  min-width: 100%;
  min-height: 100vh;
  font-family: "Hellix";
  background: linear-gradient(7.28deg, #eef5ff 0%, #ffffff 99.69%);
}

.contain {
  max-width: 500px;
  margin: auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.no_shadow {
  box-shadow: none;
  padding: 50px 0 0 0;
}
h1,
h2 {
  font-weight: 500;
  margin-bottom: 15px;
}
h1 {
  font-size: 64px;
  line-height: 75px;
  margin: 20px 11px;
}
h2 {
  font-size: 48px;
  margin-bottom: 15px;
}
h3 {
  font-size: 32px;
}
h4 {
  margin: 10px 0 25px;
  font-size: 18px;
}
h6 {
  font-size: 14px;
  padding: 70px;
}
p {
  line-height: 24px;
  font-size: 16px;
  font-weight: 400px;
  color: #111235;
}
nav {
  text-align: center;
  margin: 20px 0px 30px;
}
a {
  display: block;
  text-decoration: none;
  color: #111235;
  font-weight: 500;
  font-size: 16px;
  line-height: 48px;
}
a:hover {
  cursor: pointer;
}

.header_bold {
  font-weight: 700;
}
.menu {
  display: none;
}
.sec_container {
  margin: 15px auto;
}
.text_center {
  text-align: center;
}
.text_left {
  text-align: left;
}
.sec_container img {
  width: 100%;
  height: 414px;
}
.container_blue {
  width: 100%;
  background-color: #f2f8ff;
  padding: 40px 0px 0px 15px;
  margin-bottom: 80px;
}
.blue_gradient {
  background: linear-gradient(99.85deg, #bad5ff 0%, #6487bf 100%);
  margin-bottom: 80px;
}
.lead {
  margin: 40px 0;
  padding-left: 25px;
}
.block {
  padding: 40px;
  margin: 20px 10px;
  border-radius: 30px;
}
.block h3 {
  padding-bottom: 15px;
  font-size: 24px;
}
.blue {
  background-color: #e4f0ff;
}
.mauve {
  background-color: rgba(114, 122, 239, 0.1);
}
.top_five {
  border-top: 1px solid;
}
.input_window {
  text-align: center;
  margin-top: 20px;
}
.nav_window {
  border: none;
  border-radius: 10px;
  color: #111235;
  font-weight: 600;
  background-image: url(https://assets.codepen.io/6060109/icon-send.png);
  background-repeat: no-repeat;
  background-position: 95% 50%;
  padding: 10px;
  margin-top: 20px;
  width: 62%;
  height: 40px;
}
.icon_display {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  width: 100%;
}
.icon_display img {
  padding: 10px 15px;
  width: 20px;
  height: 20px;
}

.btn_box {
  text-align: center;
}

.btn {
  margin: 25px auto;
  width: 62%;
  height: 59px;
  border-radius: 35px;
  font-weight: 600;
  font-size: 18px;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease all;
  color: #436baa;
}

.btn:hover {
  opacity: 0.8;
  transition: 0.3s ease all;
  cursor: pointer;
  box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.25);
}

.btn_main {
  background: #4b5092;
  color: white;
}

@media only screen and (min-width: 992px) {
  .contain {
    max-width: 90%;
  }
  header {
    justify-content: space-around;
  }

  .menu {
    padding: 0 20px;
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  .text_contain {
    text-align:left;
    position: relative;
  }
  .text_contain button {
    position: absolute;
    left:0%;
    
  }
  .container_blue{
    padding: 60px 0px 0px 15px;

  }

  .menu img {
    padding-top: 10px;
  }
  .top_one,
  .blue_gradient {
    display: flex;
    flex-direction: row-reverse;
    height:auto;
    position: relative;
  }
  .top_two {
    display: flex;
    flex-direction: row;
  }
  .blue_gradient > div {
    position: relative;
    text-align: left;
    width: 40%;
    padding-right:15px;
    
  }
  .bg_height{
    position:absolute;
    top:15%

  }
  .bg_img {
    width: 60%;
    margin:0 auto;
  }
  .grid {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
  }
  .block {
    width: 30%;
    height: 30vh;
  }
  .top_four {
    position: relative;
  }
  .top_four_box {
    position: absolute;
    right: 0%;
    top: 30%;
    width: 40%;
  }
  .top_four .btn {
    margin: 0 auto;
    width: 20%;
    height: 40px;
    position: absolute;
    right: 3%;
    top: 1%;
  }
  .top_five {
    position: relative;
    height:200px;
  }
  .no_shadow {
    width: 20%;
    padding-top: 0;
  }
  .anchor_box {
    text-align: left;
    position: absolute;
    right: 37%;
    bottom: 5%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }
  .anchor_box a {
    margin: 0 auto;
  }
  .input_window {
    width: 30%;
    position: absolute;
    right: -10%;
    bottom: 35%;
    text-align: left;
    cursor: pointer;
  }
  .icon_display {
    display: none;
  }
  .copyright {
    position: absolute;
    bottom:15%;
    left:2%
  }

  h6 {
    padding:0;
  } 
}
