/* ✅ 

#index, #footer {
    background-color: #f1f1f1;
    border: 1px solid grey;
  }
  
  #index > p:first-child {
    font-size: 2rem;
    font-style: italic;
    font-weight: bold;
    margin-left: 20px;
  }
  
  ul {
    list-style: none;
  }
  
  ol li {
    transition: 0.2s ease all;
  }
  
  ol li:hover {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s ease all;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li::before {
    content: "✅";
  } */

/* imaging */
/* div {
    background: bottom (position)/ 100% (size) url("photo.jpg");
    is the same as;
    background-position: bottom;
    background-size: 100%;
    background-image: url("photo.jpg");

} */
/* .parent {
    position: relative;
}

.child {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%); 
    note: (X, Y)
    will center the child class to the parent.
} */

/* .parent {
    display: flex;
}
.child {
    flex: 1 0 100px;

}
is the same as
.child {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100px;
} */

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...} */

* {
  margin: 0;
  padding: 0;
}

body,
html {
  min-width: 100%;
  min-height: 100vh;
}

.container {
  font-family: "Hellix";
  margin: 15px auto;
}

header {
  position: relative;
  width: 100%;
  height: 75px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
}
.title {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-weight: 500;
  font-size: 36px;
}

.img_box {
  display: flex;
  justify-content: center;
  height: 414px;
}

.statement {
  width: 90%;
  font-weight: 500;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #111235;
}

.statement p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 10%;
}
.btn {
  width: 62%;
  height: 59px;
  left: 81px;
  top: 916px;
  border-radius: 35px;
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.btn_main {
  background: #4b5092;
}
